<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="row">
            <div class="col-md-8 offset-2 mb-5">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-center">
                            <h1>Zaloguj się</h1>
                            <p>Wprowadź swoje dane, aby kontynuować</p>
                        </div>
                        <div>
                            <form method="post" th:action="@{/login}">
                                <div class="text-start">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" name="username" id="email" class="form-control" placeholder="email">
                                </div>
                                <div class="text-start mt-4">
                                    <label for="password" class="form-label">Password:</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="password">
                                </div>
                                <div class="form-check d-flex justify-content-center mt-3">
                                    <input class="form-check-input" type="checkbox" value="" id="remember">
                                    <label class="form-check-label mx-2" for="remember">
                                        Zapamniętaj mnie
                                    </label>
                                    <div class="ms-5">
                                        <a th:href="@{/}">Nie pamiętasz hasła?</a>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <button class="btn btn-primary">Zaloguj się</button>
                                </div>
                                <div>
                                    <p class="mb-1">Nie masz jeszcze konta?</p>
                                    <a class="btn btn-primary" th:href="@{/rejestracja}">Utwórz nowe konto</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>